body {
  background-color: #e6eff6;
}

.container {
  background-color: #e6eff6;
}

.row {
  background-color: #e6eff6;
}

.navbar {
  height: 100vh;
  position: fixed;
}

hr {
  margin: 0 auto;
  width: 40%;
}

.shadowHover:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover {
  color: #fff;
  background-color: #4aaaf5;
  border-radius: 20px;
}
